.footer {
    padding-top: 18px;
    padding-bottom: 14px;
    background-color: $footer-black-color;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    &__social-link {
        margin-left: 42px;

        a {
            fill: $white;

            &:hover,
            &:focus {
                opacity: 0.8;
            }

            &:active {
                opacity: 0.6;
            }
        }
    }

    &__tel {
        @include font-setting(16px, 24px, 500, $white);
        cursor: pointer;

        &:hover,
        &:focus {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }
}

@media (max-width: $mobile-width) {
    .footer {
        padding-top: 18px;
        padding-bottom: 10px;
        background-color: $footer-black-color;

        &__wrapper {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: flex-start;
        }

        img {
            margin-bottom: 15px;
            order: -1;
        }

        &__social-link {
            margin-left: 0;
            order: 1;
        }

        &__tel {
            margin-bottom: 15px;
            order: 0;
            @include font-setting(16px, 24px, 500, $white);
        }
    }
}
