.our-clients {
    padding-top: 101px;
    padding-bottom: 81px;

    h2 {
        position: relative;
        width: 100%;
        margin: 0 0 64px;

        &::after {
            content: "";
            position: absolute;
            top: -10px;
            left: 431px;
            width: 80px;
            height: 80px;
            background-image: url(/img/emoji-star-face.png);
            background-repeat: no-repeat;
        }
    }

    &__carousel {
        display: flex;
        flex-flow: column;
        align-items: center;
        align-content: center;
    }

    &__carousel-item {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

@media (max-width: $fixed-width) {
    .our-clients {
        padding-top: 50px;
        padding-bottom: 47px;

        h2 {
            margin: 0 0 30px;

            &::after {
                top: -24px;
                left: 241px;
                transform: scale(0.6);
            }
        }
    }
}

@media (max-width: $mobile-width) {
    .our-clients {
        padding-top: 33px;
        padding-bottom: 25px;

        h2 {
            margin: 0 0 8px;

            &::after {
                top: -28px;
                left: 184px;
                transform: scale(0.4);
            }
        }
    }
}
