$main-slogan-font: "Rubik", sans-serif;
$default-font: "Montserrat", sans-serif;
$second-font: "Ubuntu", sans-serif;

$black: #1d2931;
$white: #ffffff;
$gray: #7d92a1;
$bgr-gray: #f5f7f9;
$border-gray-color: $gray;
$border-white-color: #dae2e8;
$footer-black-color: #191b1d;

$error-color: #e01414;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$mobile-width: 767px;
$tablet-width: 768px;
$fixed-width: 1280px;
